# Build thư mục và tệp tạm
bin/
obj/
*.user
*.suo
*.tmp
*.log

# Các tệp lock
project.lock.json
project.fragment.lock.json

# Tệp và thư mục cấu hình của Visual Studio
.vs/
*.csproj.user
*.cache

# Các tệp cấu hình không cần thiết
*.pdb
*.ilk
*.ipch

# NuGet
*.nupkg
packages/

# Các tệp Debug và Release
*.dll
*.exe
*.appx
*.appxbundle
*.msix
*.msixbundle
*.manifest

# Tệp cá nhân
*.ide
